.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 69%;
  margin: 0 auto;
}

.content {
  display: flex;
  align-items: center;
  text-align: center;
}

@media (max-width: 768px) {
  .container {
    width: 90%;
    padding: 40px 20px;
  }

  .content {
    flex-direction: column;
    align-items: flex-start;
  }
}
