.options {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  margin-left: 30px;
}

.navLink {
  cursor: pointer;
  font-size: 16px;
  color: var(--color-text);
  margin: 6px 0;
  position: relative;
}

.navLink a {
  text-decoration: none;
  color: inherit;
  position: relative;
  display: inline-block;
}

.navLink a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: var(--color-text);
  transition: width 0.3s ease, background-color 0.3s;
}

.navLink a:hover::after {
  width: 100%;
}

@media (max-width: 768px) {
  .options {
    margin-top: 20px;
    margin-left: 0;
    border-left: 2px solid var(--color-text);
    padding-left: 15px;
  }

  .navLink {
    font-size: 18px;
    margin: 8px 0;
  }
}
