.socialIcons {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.socialIcon {
  text-decoration: none;
  color: var(--color-text-muted);
  font-size: 24px;
  transition: color 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.socialIcon:hover {
  color: var(--color-accent-blue);
}


.cvText {
  font-size: 9px;
  font-weight: 700;
  border: 3px solid currentColor;
  border-radius: 3px;
  padding: 2px 5px;
  line-height: 1;
  height: 21.5px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .socialIcon {
    font-size: 40px;
  }

  .cvText {
    font-size: 14px;
    padding: 4px 6px;
    height: 30px;
  }
}
