body {
  margin: auto;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 69%;
  background-color: #fff;
  overflow-y: scroll; /* Enable vertical scrolling */
}

.container {
  text-align: center;
}


.pubcontainer {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}


.projcontainer {
  width: 80%;
  margin:  0 auto;
  padding: 20px;
}


.timelinecontainer {
  width: 80%;
  margin:  0 auto;
  padding: 20px;
}


.project {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 2px 2px 6px #888;
  overflow: hidden;
  max-width: 1000px;
}

.project img {
  width: 150px;
  height: auto;
  display: block;
}

.description {
  padding: 20px;
}

.profile {
  display: flex;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 15px;
  position: relative; /* Relative positioning for pseudo-element */
  
}

.profile img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-right: 20px;
  object-fit: cover;
  position: relative; /* Ensure position is relative */
}

.info {
  text-align: left;
  max-width: 300px;
  position: relative; /* Relative positioning for pseudo-element */
}

.info::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: -20px; /* Adjust the distance from the info div */
  width: 2px; /* Width of the vertical bar */
  background-color: #000; /* Color of the vertical bar */
}

h1 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 24px;
}

h3 {
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 16px;
}

p {
  margin-top: 0;
  color: #555;
}

a {
  text-decoration: none;
  color: black;
}


.social-icons {
  margin-top: 20px;
}

.social-icon {
text-decoration: none;
color: #333;
font-size: 24px;
margin-right: 10px;
}


.options {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Positions to the left */
  text-align: left;
  margin-left: 30px; /* Creates space between profile and options */
}

.profile img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
}


.info {
  text-align: left;
  max-width: 300px; /* Adjust as needed */
}

.social-icons {
  margin-top: 20px;
}

.social-icon {
  text-decoration: none;
  color: #333;
  font-size: 24px;
  margin-right: 10px;
}

.highlight-on-hover {
  cursor: pointer;
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #000;
  margin: 13px 0;
  text-decoration: none;
  transition: text-decoration 0.3s;
}

.highlight-on-hover:hover {
  text-decoration: underline;
}

/* Footer styles */
.footer {
  text-align: center;
  padding: 5px;
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #555;
}

/* Media query for smaller screens */
@media (pointer:none), (pointer:coarse) {
  body {
    margin: auto;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 90%;
    background-color: #fff;
    overflow-y: scroll; /* Enable vertical scrolling */
  }

  .pubcontainer {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
  }

  .projcontainer {
    width: 100%;
    margin:  0 auto;
  }

  .projcontainer h1 {
    font-size: 50px;
    margin-top: 60px;
    margin-bottom: 30px;
  }
  
  .projcontainer h2 {
    font-size: 30px;
  }

  .projcontainer p {
      font-size: 30px;
    }

  ul.tech-stack-list li {
    margin-bottom: 10px;
    margin-left: 40px;
    border-left: 4px solid #3498db;
    padding-left: 10px;
    border-radius: 4px;
    font-size: 30px;
  }

  .profile {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
  }

  .profile img {
    width: 300px;
    height: auto;
    display: block;
    margin-bottom: 20px;
  }

  .options {
    margin-top: 15px;
    border-left: 2px solid #000;
    padding-left: 10px;
  }

  .info {
    text-align: left;
    margin-top: 15px;
    margin-bottom: 20px;
    max-width: 1200px;
  }

  .info h1 {
    font-size: 55px;
  }

  .info p {
    font-size: 50px;
  }

  .info::after {
    display: none;
  }

  .highlight-on-hover {
    cursor: pointer;
    font-family: Arial, sans-serif;
    font-size: 40px;
    color: #000;
    margin: 13px 20px;
    text-decoration: none;
    transition: text-decoration 0.3s;
  }

  .social-icon {
    text-decoration: none;
    color: #333;
    font-size: 55px;
    margin-right: 10px;
    }

  ol.reference-list li {
    font-size: 18px;
    text-align: justify;
    margin-bottom: 15px;
    line-height: 1.5;
  }

}


ol.reference-list {
  list-style: none;
  padding: 0;
}

ol.reference-list li {
  margin-bottom: 15px;
  line-height: 1.5;
}

.link-button {
  display: inline-block;
  width: 50px;
  height: 20px;
  border: 2px solid #000;
  background-color: #fff;
  text-align: center;
  border-radius: 5px;
  margin-right: 10px;
  color: #000;
  line-height: 20px;
  font-size: 12px;
  transition: background-color 0.3s, color 0.3s;
}

.link-button:hover {
  background-color: #000;
  color: #fff;
}

.return-link {
  text-align: left;
  margin-bottom: 20px;
}

.return-link a {
  text-decoration: none;
  color: #000;
  display: inline-block;
  padding: 5px 10px;
  height: 15px;
  line-height: 15px;
  border: 2px solid #000;
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px;
  transition: background-color 0.3s, color 0.3s;
  background-color: #000;
  color: #fff;
}

.return-link a:hover {
  background-color: #fff;
  color: #000;
}

ul.tech-stack-list {
  list-style: none;
  padding: 0;
}

ul.tech-stack-list li {
  margin-bottom: 10px;
  margin-left: 40px;
  border-left: 4px solid #3498db;
  padding-left: 10px;
  border-radius: 4px;
}

ul.tech-stack-list li.special {
  border-left: 4px solid #27ae60;
}

ul.tech-stack-list li.specialpurple {
  border-left: 4px solid #9727ae;
}

.horizontal-line {
  width: 100%;
  height: 4px;
  background: linear-gradient(to right, rgba(204, 204, 204, 0), #CCCCCC, rgba(204, 204, 204, 0)); /* Grey gradient */
  position: relative;
  margin: 30px;
}

.horizontal-line::before,
.horizontal-line::after {
  content: "";
  width: 0px;
  height: 100%;
  position: absolute;
  background: linear-gradient(to right, rgba(204, 204, 204, 0), #CCCCCC);
}

.horizontal-line::before {
  left: 0;
  top: 0;
}

.horizontal-line::after {
  right: 0;
  top: 0;
}



/* Add CSS to adjust the layout */
.project-link {
  text-decoration: none;
}

.project-details {
  display: flex;
  align-items: center;
}

.project-details img {
  margin-right: 20px; /* Adjust margin as needed */
}